<h1>I'm Bored NYC</h1>
<h2>Find something to do!</h2>

<form action='/' method='post'>
  <input type='text' name='email' placeholder='Email'>
  <input type='text' name='password' placeholder='Password'>
  <input type='submit' value='Log In'>
</form>
<h3>OR</h3>
<a href="/user/new"><button id='sign_up'>Create an account</button></a>