<h1>My Events</h1>
<% if @users_events.count >= 1 %>
  <% @users_events.each do |event| %>
        <div id='single_user_event'>
          <%="#{event.name} ------ #{event.time}" %>
        <a href="/event/<%= event.id %>"><button><span class="glyphicon glyphicon-plus"></span> View/Delete</button></a>
      </div>
  <% end %>
<% else %>
<h3>You don't have any events yet!</h3>
<% end %>