<form action='/user/<%=@user.id%>' method='post'>
  <input type='text' name='address' placeholder='Enter an address'>
  <input  type='submit' value="What's Going On?">
</form>
<div id='event_search_list'>
  <ul>
    <li id='event_search_item'></li>
  </ul>
</div>