<div class='jumbotron'>
  <form id='user_search_bar' data-userid='<%= @user.id %>' action='/user/<%=@user.id%>' method='post'>
    <input type='text' name='address' placeholder='Enter an address'>
    <input  id='whats_happenin_btn' type='submit' value="What's Going On?">
  </form>
</div>
<div id='event_search_list'>
  
</div>