<h1>Create Your Account</h1>

<form action='/user/new' method='post'>
  <input type='text' name='new_user[name]' placeholder='Name'>
  <input type='text' name='new_user[email]' placeholder='Email'>
  <input type='text' name='new_user[password]' placeholder='Password'>
  <input type='text' name='password_confirmation' placeholder='Confirm Password'>
  <input type='submit' value='Create Account'>
</form>

<a href="/"><p>back home</p></a>